<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.first">

    <application>
        <activity android:name=".activity.DetailsActivity"></activity>
        <activity android:name=".activity.first_DepartmenActivity" />
        <activity android:name=".activity.first_FirstActivity" />
    </application>

</manifest>